@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
}
.header {
  display: flex;
  padding: 20px 60px 20px 60px;
}
.header-background {
  background-color: rgb(6, 147, 179);
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 100%);
}

.header-profile-img {
  object-fit: cover;

  height: 450px;
  width: 450px;
}

.header-profile-pic-container {
  height: 350px;
}

.header-profile-content {
  max-width: 600px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding-right: 40px;
  padding-left: 15px;
  margin: 40px 0 40px 0;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-profile-content-text {
  line-height: 1.6;
}

.header-profle-icons {
  display: flex;
  justify-content: flex-end;
  font-size: 1.6rem;
  gap: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  height: 1.5rem;
}

/* Main */
main {
  margin: 100px 20px 100px 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project-tab {
  width: 350px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-tab > :first-child {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d32b2b;
  padding-inline: 40px;
}
.project-tab > :last-child {
  flex: 1;
}
.project-tab-sc {
  font-size: 2rem;
  color: white;
}

.project-tab-content-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.icons-wrap {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  transition: transform 0.5s ease-in-out;
}

.icons-wrap:hover {
  cursor: pointer;
}

.icon-rotate {
  transition: transform 0.5s ease-in-out;
}
.icon-rotate:hover {
  transform: rotate(360deg);
}

.project-tab-content {
  padding: 10px 20px;
}
.project-tab-content-text {
  font-size: 0.9rem;
  line-height: 1.5;
}

.main-content-body {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

/* Footer */
footer {
  background-color: rgb(6, 147, 179);
  color: white;
}

.footer-image img {
  width: 500px;
  height: 300px;
}
