* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  padding: 20px 60px 20px 60px;
}
.header-background {
  background-color: rgb(6, 147, 179);
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
}

.header-profile-img {
  object-fit: cover;
  max-height: 350px;
  max-width: 600px;
}

.header-profile-pic-container {
  height: 350px;
}

.header-profile-content {
  max-width: 600px;
  background-color: white;
  box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
  padding-right: 40px;
  padding-left: 10px;
}
